<div>
  <img src="./assets/image/logo.png" alt="logo">
</div>


<div class="container">
  <div *ngIf="todos.length == 0" class="text-list">Crie sua lista de tarefas :)</div>
  <ul *ngIf="todos.length >= 1">
    <li *ngFor="let todo of todos">
      <div class="flex">
        <div class="id-list align-itens">
          {{ todo.id }}
        </div>
        <div class="description-task align-itens" [ngClass]="{'text-through': todo.done}">
          {{ todo.task }}
        </div>
        <div class="buttons">
          <button (click)="markAsDone(todo)" class="round-button add-button" [ngClass]="{'add-button-green': todo.done}">
            <i class="fa fa-check"></i>
          </button>
          <button (click)="removeTask(todo)" class="round-button remove-button">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <form [formGroup]="form">
    <input
      type="text"
      placeholder="Título da Tarefa"
      maxlength="20"
      formControlName="title"
    />
    <div
      *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
      class="alert"
      >Digite no mínimo 12 caracteres e no máximo 20</div
    >
    <div class="align">
      <button [disabled]="form.invalid" (click)="add()" class="button-save">
        ADICIONAR TAREFA
      </button>
    </div>
  </form>
</div>
