body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  text-align: center;
  background: #fff;

}


@media screen and (max-width: 768px) {
  body {
    height: 100%;
    overflow:auto;
    overflow-y: scroll;
  }
}
